html{
    --bg:#fff;
    --card-color:#DCDCDC;
    --color-headings:#4747FF;
    --color-button: #ffffffc9;
    --color-text:#000;
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg);

    transition: all 425ms;

}

*{
    font-family: "Barlow";
}

.container {
    width: 60vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section {
    width: 250px;
    height: 370px;
    background-color: var(--card-color);
    border-radius: 10px;

    position: relative;


}

#title {
    color: var(--color-headings);
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 15px;
}



button {
    width: 60%;
    height: 40px;

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 6px;
    border: none;
    background-color: var(--color-button);

    font-size: medium;
    font-weight: 600;
    color: var(--color-text);
}


input[type="checkbox"] {
    appearance: none;
    width: 90px;
    height: 40px;
    background-color: #707070;
    border-radius: 25px;

    position: absolute;
    top: 0px;
    right: 0px;
    margin: 15px;
    cursor: pointer;

    transition: all 400ms;
}

input[type="checkbox"]::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    top: 5px;
    left: 5px;

    transition: all 400ms;

}

input[type="checkbox"]:checked{
    content: "";
    
    background: linear-gradient(91deg, #ff01a5d4, #4b00ffd4)
}

input[type="checkbox"]::after{
    content: "OFF";
    color: #707070; 
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    left: 10px;
    top: 13px;

    transition: 400ms;
}


input[type="checkbox"]:checked::before{
    background-color: #000;
    left: 55px;
}

input[type="checkbox"]:checked::after{
    content: "ON";
    color: #fff; 
    left: 63px;
    
}
